

mixin socials
    -
        var socialItems={
        'http://www.facebook.com':'fa fa-facebook',
        'http://www.twitter.com':'fa fa-twitter',
        'http://www.google.com':'fa fa-google-plus',
        'http://www.pinterest.com':'fa fa-pinterest-p'

        }

    ul.socials__list
        each  iconSrc,url in socialItems
            li.socials__item.col-xs-2
                a(href="#{url}").socials__link
                    i(class='#{iconSrc}')





mixin navigation
    -
        var navItems={
        'Home':'index.html',
        'How It Works':'pages/how-it-works.html',
        'Payday Loans':'pages/payday-loan.html',
        'Faq':'pages/faq.html',
        'Blog':'#',
        'Apply Online':'#',
        'About Us':'pages/about.html',
        'Contact Us':'pages/contacts.html'

        }
    section.navigation
        nav.main_nav.navbar.navbar-default

            .navbar-header
                button(type='button' class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="#").navbar-brand

            .collapse.navbar-collapse(id='navbar1')
                ul.nav.navbar-nav
                    each pageUrl, pageName in navItems
                        li.nav.navbar-nav
                            a(href="#{pageUrl}").nav__link=pageName


mixin navigation_inner
    -
        var navItems={
        'Home':'../index.html',
        'How It Works':'how-it-works.html',
        'Payday Loans':'payday-loan.html',
        'Faq':'faq.html',
        'Blog':'#',
        'Apply Online':'#',
        'About Us':'about.html',
        'Contact Us':'contacts.html'

        }
    section.navigation
        nav.main_nav.navbar.navbar-default
            .navbar-header
                button(type='button' class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="#").navbar-brand

            .collapse.navbar-collapse(id='navbar1')
                ul.nav.navbar-nav
                    each pageUrl, pageName in navItems
                        li.nav.navbar-nav
                            a(href="#{pageUrl}").nav__link=pageName

mixin navigation_payload
    -
        var navItems={
        'Instant Payday Loans':'../pages/payload.html',
        'How It Works':'../pages/how-it-works.html',
        'Bad Credit Loans':'../pages/bad-credit.html',
        'Payday Loans Direct':'#'

        }

    section.nav__payload
        .container
            .nav__title
                |Learn More:
            ul.nav__payload_list
                each pageUrl, pageName in navItems
                    li.nav__payload_item
                        a(href="#{pageUrl}").nav__payload_link=pageName
            .nav__faq_link
                a(href="#") FAQ






-var bulletItems=['All Credit Scores Qualify','Quick Access to Funds','Minimal Documentation Required','All Industries Accepted']
-var checkItems=['FUNDING AMOUNT/ €3,000 – €5,000,000','TIME TO FUNDING/ 24 – 72 Hours','TERM LENGTH/ 3 – 24 Months','PAYMENT FREQUENCY/ Business Day or Weekly']



mixin sectionLeft(sectionTitle, imgSrc)

    section.payday-loans.section-left
        .container
            .left__block
                .section__title
                    h3=sectionTitle
                    .section__subtitle
                        | WORKING CAPITAL WHEN YOU NEED IT
                .section__info
                    .bullets__block
                        ul.bullets__list
                            each bullet in bulletItems
                                li.bullet__item=bullet
                    .checks__block
                        ul.checks__list
                            each item in checkItems
                                li.check__item=item
                .section__desc
                    |Obtaining a merchant cash advance, also known as a revenue-based loan, is a quick and easy way to obtain working capital, even if you have bad credit!
                .section__cta_block
                    .section__how_button
                        a(href="#").btn.btn-primary.btn-lg How UK Payday Loans Work
                        a(href="#").btn.btn-success.btn-lgn Apply Now
            .section__image_right
                img(src="#{imgSrc}" alt="").section__pic



mixin sectionRight(sectionTitle, imgSrc)
    section.payday-loans.section-right
        .container
            .section__image_left
                img(src="#{imgSrc}" alt="").section__pic

            .right__block
                .section__title
                    h3=sectionTitle
                    .section__subtitle
                        | WORKING CAPITAL WHEN YOU NEED IT
                .section__info
                    .bullets__block
                        ul.bullets__list
                            each bullet in bulletItems
                                li.bullet__item=bullet
                    .checks__block
                        ul.checks__list
                            each item in checkItems
                                li.check__item=item
                .section__desc
                    | Obtaining a merchant cash advance, also known as a revenue-based loan, is a quick and easy way to obtain working capital, even if you have bad credit!
                .section__cta_block
                    .section__how_button
                        a(href="#").btn.btn-primary.btn-lg How UK Payday Loans Work
                        a(href="#").btn.btn-success.btn-lg Apply Now




//



